cmake_minimum_required(VERSION 3.8)
project({{ name }}_visualization_node)

find_package(ament_cmake REQUIRED)
find_package(ament_python REQUIRED)

ament_python_install_package(visualization_node)

ament_package()
