[package]
name = "{{ name }}_ml_inference"
version = "0.1.0"
edition = "2021"

[dependencies]
rclrs = "0.13"
tokio = { version = "1.0", features = ["full"] }
ort = { version = "1.16", features = ["load-dynamic"] }
image = "0.24"
ndarray = "0.15"
sensor_msgs = { path = "../../../../../../../opt/ros/{{ ros_distro }}/share/sensor_msgs" }
std_msgs = { path = "../../../../../../../opt/ros/{{ ros_distro }}/share/std_msgs" }
vision_msgs = { path = "../../../../../../../opt/ros/{{ ros_distro }}/share/vision_msgs" }
cv_bridge = { path = "../../../../../../../opt/ros/{{ ros_distro }}/share/cv_bridge" }